<div class="container">
    <header>
        <img src="assets/logos/eight-stage.png" alt="" srcset="">
    </header>
</div>

<div class="scenes">
    <app-resolume-send-button [column]=1 name="Tunel De Cores" image="1-tunel"></app-resolume-send-button><br>
    <app-resolume-send-button [column]=2 name="Vermelho Abstrato" image="2-vermelho"></app-resolume-send-button><br>
    <app-resolume-send-button [column]=3 name="Africa" image="3-africa"></app-resolume-send-button><br>
    <app-resolume-send-button [column]=4 name="Luzes" image="4-luzes"></app-resolume-send-button><br>
    <app-resolume-send-button [column]=5 name="Estrada Espacial" image="5-tunel"></app-resolume-send-button><br>
    <app-resolume-send-button [column]=6 name="Galáxia" image="6-espaco"></app-resolume-send-button><br>
</div>

